@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);

body {
    font: 1.6em "Roboto";
    background-color: black;
    color: rebeccapurple;
    margin-bottom: 5%;
}

a {
    color: mediumpurple;
}

h1, h2, h3, h4, h5, h6 {
    color: purple;
}